# Dependencies
node_modules/

# Environment variables
.env

# URL Lists (except examples)
url-lists/*
!url-lists/*.EXAMPLE

# BackstopJS
backstop.json
backstop_data/bitmaps_reference/
backstop_data/bitmaps_test/
backstop_data/html_report/
backstop_data/ci_report/
backstop_data/engine_scripts/puppet/wrapper_*.js

# Ignorar carpetas de proyectos personalizados dentro de backstop_data
backstop_data/*/
!backstop_data/engine_scripts/
!backstop_data/cookies.json
!backstop_data/imageStub.jpg

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
